img {
  height: 250px;
  width: 350px;
}
li {
  list-style: none;
}
.contiData {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.placeData {
  display: flex;
  width: fit-content;
  margin: auto;
  margin-top: 10%;
  gap: 10px;
}
.placeData div {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.placeData img {
  height: max-content;
}
