img {
  height: 250px;
  width: 350px;
}
li {
  list-style: none;
}
.contiData {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.placeData {
  display: flex;
  width: 650px;
  margin: auto;
  margin-top: 10%;
}
.placeData img {
  height: max-content;
}
